@import url("base.css");

/*................................Header Style...................................*/

header{
    color: #9538FF;
    /* background-color: rgb(253, 248, 243); */
    background-color: #f4f6fa;
}

header a{
    color: #9538FF;
}

header ul li{
    padding: 5px;
}

/*.....................................................*/
.explore{
    padding:10px 30px;
}

.explore span{
    opacity:0;
    animation: toRight 1s forwards;
    transform: translateX(-50%);
    max-width: 400px;
    font-size: 40px;
}

@keyframes toRight {
    to{
        opacity:1;
        transform: translateX(0);
    }
}


.Image-section img{
    animation: appearing 1s forwards;
    opacity: 0;
    transform: translateY(20px) ;
}

.Image-section img:nth-child(1){
    animation-delay: 0s;
}

.Image-section img:nth-child(2){
    animation-delay: 0.3s;
}

.Image-section img:nth-child(3){
    animation-delay: 0.6s;
}

.Image-section img:nth-child(4){
    animation-delay: 0.9s;
}

@keyframes appearing {
    to{
        opacity: 1;
        transform: translateY(0);
    }

}

@media screen and (max-width: 900px){
    .explore.row{
        flex-direction: column;
        justify-content: center;
        gap:20px;
    }
}
@media screen and (max-width: 500px){
    .display-none-mobile{
        display: none;
    }
    .Image-section div:nth-child(2){
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}


/*..................Loader css..........................*/

.loader-container{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    position: fixed;
    z-index: 1000px;
}

.loader{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: solid 10px #9538FF;
    border-bottom-color: transparent;
    animation:rotate 1s infinite;
}

.stop-loader{
    display: none;
}

@keyframes rotate{
    0%{
        transform:rotate(0deg);
    }

    100%{
        transform:rotate(360deg);
    }
}

/*............................Main content style..................................*/

#images{
    padding: 30px 0px;
}

#images img{
 width: 100%;
 height: 100%;
 object-fit: cover;
 border-radius: 20px;
 cursor: pointer;
 transition: transform all 0.2s;
}

#images img:hover{
    transform: scale(1.02);
}

.gridStyle{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
}

.imageRow{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}

.twoImgDiv{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}

.twoImgDiv,.singleImgDiv{
    overflow: hidden;
}

.gridStyle .twoImgDiv img{
    object-fit: cover;
}

.gridStyle .imageWrapper{
    padding: 10px; 
}

.singleImgDiv{
    height: 500px;
    max-height: 600px;
}

.twoImgDiv .imageWrapper{
    height: 450px;
}

.twoImgDiv {
    max-height: 500px;
}


@media screen and (max-width: 800px){
    .imageRow{
        max-height: 700px;
    }

    .singleImgDiv{
        max-height: 300px;
    }

    .twoImgDiv .imageWrapper{
        height: 250px;
    }

    .twoImgDiv {
        max-height: 300px;
    }

}


@media screen and (max-width: 600px){
    .imageRow{
    
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .imageRow{
        max-height: 1500px;
    }

    .singleImgDiv{
        max-height: 300px;
    }

    .twoImgDiv .imageWrapper{
        height: 300px;
    }

    .twoImgDiv {
        max-height: 350px;
    }
}

/*......................Modal...........................*/

.modal{
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0,0.3);
    position: fixed;
    top:0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}


.image-modal{
    background-color: rgb(255, 255, 255);
    padding: 20px 40px;
    border-radius:20px;
    box-shadow:0 4px 4px rgba(0,0,0,.1);
    position: relative;
}
 
.image-modal img{
    width:100vw;
    height: 100vh;
}

#downloadImg{
    width: 40px;
    height: 40px;
    border-radius: 10px;
}

.img-options{
    padding: 5px 20px;
    position: absolute;
    bottom: 10%;
    left: 8%;
    background-color: rgba(0,0,0,0.1);
    width: 80%;
}

.closeButtonWrapper{
    position: absolute;
    left: 80px;
    top: 50px;
}

.closeButtonWrapper button{
    color: #f4f6fa;
    font-weight: bold;
    font-size: 36px;
    width: 50px;
    height: 50px;
    background-color: rgba(0,0,0,0.3);
    cursor: pointer;
}

a #downloadImg,.img-options span{
    padding: 5px;
    background-color: #ffffff;
}
a #downloadImg,.closeButtonWrapper{
    border-radius: 10px;
}

.display-none-modal{
    display: none;
}

/*........................Home page Style.............................*/

.scroll-container {
  overflow-y: scroll;
  height: 100vh;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

.img-section{
    padding: 20px 40px;
    background-color: peachpuff;
    scroll-snap-align: start;
    min-height: 100vh;
}

.img-section:nth-child(2){
    background-color: rgb(224, 238, 255);
}

.img-section:nth-child(3){
    background-color: palegreen;
}

.img-section span{
   font-size: 40px;
}

.img-section img{
    animation: appearing 1s forwards;
    opacity: 0;
    transform: translateY(20px);
    border-radius: 15px;
}

.img-section img:nth-child(1){
    animation-delay: 0s;
}

.img-section img:nth-child(2){
    animation-delay: 0.5s;
}

.img-section img:nth-child(3){
    animation-delay: 1s;
}

@media screen and (max-width: 800px){
    .img-section:nth-child(1) img:nth-child(2){
        display: none;
    }

    .img-section:nth-child(2) img,.img-section:nth-child(1) img,.img-section:nth-child(3) img{
        width: 100%;
        height: auto;
    }

    .img-section:nth-child(3) div,.img-section:nth-child(1) div, .img-section:nth-child(2) div{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap:5px;
        width: 100%;
    }


}


/*.........................Footer Style...............................*/

footer{
    background-color: black;
    color: #ffffff;
    padding: 20px 0px;
}

footer a{
    color: #9538FF;
}

footer .links{
    gap:10px;
}

footer .row{
padding: 5px 0px;
}

